/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
:root {
  --main-text-color: #757575;
  --text-title-color: #212121;
  --accent-text: #2196f3;
  --primary-white-color: #ffffff;
}
.list {
  list-style-type: none;
}
body {
  color: var(--main-text-color);
  background-color: #ffffff;

  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
.logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text);
}
.logo-studio {
  color: var(--text-title-color);
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
}
.link {
  color: var(--accent-text);
}
.mail-link {
  color: var(--accent-text);
}

.tel-link {
  color: var(--main-text-color) #757575;
}
.section-head {
  color: var(--text-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-head {
  color: #ffffff;
  background-color: var(--accent-text);
}
.title-detalis {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}
.title-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var (--main-text-color;
}
/*услуги*/
.section-service{
font-weight: 400;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color:var(--text-title-color);
}
.service-description{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--primary-white-color);}